/* Загальні стилі для сторінки */
body {
  font-family: 'Outfit', sans-serif; /* Встановлює шрифт для всієї сторінки */
  margin: 0; /* Видаляє відступи по краях сторінки */
  padding: 0; /* Видаляє відступи всередині сторінки */
}

/* Стилі для навігаційного блоку */
nav {
  display: flex;
  justify-content: center;
  width: 100%; /* Ширина навігаційного блоку займає 100% ширини сторінки */
}

.header {
  background-color: #1f2235;
  min-height: 900px;
  min-width: 1920px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title-highlight {
  color: #fe461c;
}

/* Стилі для списку навігаційних посилань */
.nav__links {
  display: flex; /* Встановлює флекс-контейнер для горизонтального вирівнювання посилань */
  list-style: none; /* Видаляє маркери списку */
  padding: 0; /* Видаляє внутрішні відступи у списку */
  margin: 0; /* Видаляє зовнішні відступи у списку */
  position: absolute; /* Абсолютне позиціонування, для контролю місця розташування блоку на сторінці */
  top: 42px; /* Відступ зверху, позиціонує блок на 42 пікселя нижче від початкової точки */
  left: 816px; /* Відступ зліва, позиціонує блок на 816 пікселів праворуч від початкової точки */
}

/* Стилі для кожного елемента списку в навігаційному меню */
.nav__links li {
  margin-right: 20px; /* Додає відступ праворуч для кожного елемента, щоб створити простір між посиланнями */
}

/* Стилі для посилань у навігаційному меню */
.nav__links a {
  text-decoration: none; /* Видаляє підкреслення у посилань */
  color: #ffffff; /* Встановлює чорний колір тексту посилань за замовчуванням */
  font-weight: 700; /* Встановлює жирний шрифт */
  font-size: 16px; /* Встановлює розмір шрифту 16 пікселів */
  line-height: 15px; /* Встановлює міжрядковий інтервал 15 пікселів */
  transition: color 0.3s; /* Додає анімацію зміни кольору протягом 0.3 секунд */
}

/* Стилі для посилань при наведенні курсору */
.nav__links a:hover {
  color: #e8401a; /* Змінює колір тексту на #e8401a при наведенні курсору */
}

/* Стилі для кнопки "Download CV" */
.download__cv {
  display: inline-block; /* Встановлює кнопці блочний елемент з інлайн-властивостями */
  width: 152px; /* Встановлює ширину кнопки 152 пікселя */
  height: 50px; /* Встановлює висоту кнопки 50 пікселів */
  background-color: #e8401a; /* Встановлює червоний колір фону кнопки */
  color: white; /* Встановлює білий колір тексту кнопки */
  text-align: center; /* Вирівнює текст по центру кнопки */
  line-height: 50px; /* Встановлює міжрядковий інтервал, щоб текст був по центру вертикально */
  border-radius: 4px 4px 4px 4px; /* Заокруглює кути кнопки */
  position: absolute; /* Абсолютне позиціонування для точного розміщення кнопки на сторінці */
  top: 22px; /* Відступ зверху, позиціонує кнопку на 22 пікселя нижче від початкової точки */
  left: 1468px; /* Відступ зліва, позиціонує кнопку на 1468 пікселів праворуч від початкової точки */
  text-decoration: none; /* Видаляє підкреслення тексту */
  font-weight: 700; /* Встановлює жирний шрифт */
  transition: opacity 0.3s; /* Додає анімацію зміни прозорості протягом 0.3 секунд */
}

/* Стилі для кнопки при наведенні курсору */
.download__cv:hover {
  opacity: 1; /* Робить кнопку видимою при наведенні курсору */
}
.info-block {
  margin: 0 auto;
}
.social__links {
  position: absolute; /* Дозволяє елементу бути розміщеним відносно найближчого батьківського елемента з відносним позиціонуванням (в даному випадку header) */
  top: 410px; /* Відступ 410px від верхньої частини шапки */
  left: 47px; /* Відступ 47px від лівого краю шапки */
  display: flex; /* Використовується для розташування дочірніх елементів у вигляді гнучкого контейнера (flexbox) */
  flex-direction: column; /* Встановлює вертикальне (колонне) розташування дочірніх елементів (іконок соціальних мереж) */
  gap: 0px; /* Відсутність відстані між дочірніми елементами (іконками) */
  opacity: 1; /* Задає повну видимість блоку соціальних мереж (прозорість 0 означає невидимість) */
}

/* Стилі для зображень соціальних мереж */
.social__links img {
  width: 50px; /* Ширина кожного зображення (іконки) встановлена на 50px */
  height: 50px; /* Висота кожного зображення (іконки) встановлена на 50px */
  border-radius: 4px 0px 0px 0px; /* Скруглює верхній лівий кут зображення (4px) */
}
.container {
  display: flex; /* Використовує Flexbox для горизонтального вирівнювання лівого і правого блоків */
}

/* Лівий блок */
.left__div {
  position: relative; /* Відносне позиціонування для зручності розташування дочірніх елементів */
}

/* Еліпс */
.ellipse__left {
  width: 204px; /* Ширина еліпса */
  height: 204px; /* Висота еліпса */
  position: absolute; /* Абсолютне позиціонування для точного розташування */
  top: 240px; /* Відступ зверху від батьківського елемента */
  left: 198px; /* Відступ зліва від батьківського елемента */
  background: rgba(187, 197, 211, 0.08); /* Колір фону з 8% прозорістю */
  border-radius: 50%; /* Робить елемент круглим (еліпсом) */
  opacity: 1; /* Прозорість еліпса, 1 означає повну видимість */
}
.welcome__text {
  width: 218px; /* Ширина блоку з текстом */
  height: 16px; /* Висота блоку з текстом */
  position: absolute; /* Абсолютне позиціонування */
  top: 335px; /* Відступ зверху */
  left: 300px; /* Відступ зліва */
  font-family: 'Public Sans', sans-serif; /* Шрифт тексту */
  font-size: 16px; /* Розмір шрифту */
  font-weight: 900; /* Товщина шрифту (жирний) */
  line-height: 20px; /* Висота рядка */
  letter-spacing: 0.15em; /* Міжлітерний інтервал */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  color: #ffffff;
}
.intro__text {
  width: 654px; /* Ширина блоку з текстом */
  height: 131px; /* Висота блоку з текстом */
  position: absolute; /* Абсолютне позиціонування */
  top: 367px; /* Відступ зверху */
  left: 300px; /* Відступ зліва */
  font-family: 'Outfit', sans-serif; /* Шрифт тексту */
  font-size: 64px; /* Розмір шрифту */
  font-weight: 600; /* Товщина шрифту (напівжирний) */
  line-height: 72px; /* Висота рядка */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  color: #ffffff;
}

/* Описовий текст */
.description__text {
  width: 521px; /* Ширина блоку з текстом */
  height: 60px; /* Висота блоку з текстом */
  position: absolute; /* Абсолютне позиціонування */
  top: 529px; /* Відступ зверху */
  left: 300px; /* Відступ зліва */
  font-family: 'Public Sans', sans-serif; /* Шрифт тексту */
  font-size: 16px; /* Розмір шрифту */
  font-weight: 500; /* Товщина шрифту (звичайний) */
  line-height: 30px; /* Висота рядка */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  color: #ffffff;
}
.hire__me {
  display: inline-block; /* Встановлює кнопці блочний елемент з інлайн-властивостями */
  width: 152px; /* Встановлює ширину кнопки 152 пікселя */
  height: 50px; /* Встановлює висоту кнопки 50 пікселів */
  background-color: #e8401a; /* Встановлює червоний колір фону кнопки */
  color: white; /* Встановлює білий колір тексту кнопки */
  text-align: center; /* Вирівнює текст по центру кнопки */
  line-height: 50px; /* Встановлює міжрядковий інтервал, щоб текст був по центру вертикально */
  border-radius: 4px 4px 4px 4px; /* Заокруглює кути кнопки */
  position: absolute; /* Абсолютне позиціонування для точного розміщення кнопки на сторінці */
  top: 625px; /* Відступ зверху, позиціонує кнопку на 22 пікселя нижче від початкової точки */
  left: 300px; /* Відступ зліва, позиціонує кнопку на 1468 пікселів праворуч від початкової точки */
  text-decoration: none; /* Видаляє підкреслення тексту */
  font-weight: 700; /* Встановлює жирний шрифт */
  transition: opacity 0.3s; /* Додає анімацію зміни прозорості протягом 0.3 секунд */
}
.download__cv-bottom {
  display: inline-block; /* Встановлює кнопці блочний елемент з інлайн-властивостями */
  width: 152px; /* Встановлює ширину кнопки 152 пікселя */
  height: 50px; /* Встановлює висоту кнопки 50 пікселів */
  text-align: center; /* Вирівнює текст по центру кнопки */
  line-height: 50px; /* Встановлює міжрядковий інтервал, щоб текст був по центру вертикально */
  border-radius: 4px 4px 4px 4px; /* Заокруглює кути кнопки */
  position: absolute; /* Абсолютне позиціонування для точного розміщення кнопки на сторінці */
  top: 625px; /* Відступ зверху, позиціонує кнопку на 22 пікселя нижче від початкової точки */
  left: 483px; /* Відступ зліва, позиціонує кнопку на 1468 пікселів праворуч від початкової точки */
  text-decoration: none; /* Видаляє підкреслення тексту */
  font-weight: 700; /* Встановлює жирний шрифт */
  transition: opacity 0.3s; /* Додає анімацію зміни прозорості протягом 0.3 секунд */
  color: white; /* Встановлює білий колір тексту кнопки */
  border: 2px solid rgba(255, 255, 255, 1)
}
.ellipse__right {
  width: 634px; /* Ширина еліпса */
  height: 634px; /* Висота еліпса */
  position: absolute; /* Абсолютне позиціонування для точного розташування */
  top: 242px; /* Відступ зверху від батьківського елемента */
  left: 1009px; /* Відступ зліва від батьківського елемента */
  background: rgba(23, 25, 41, 1); /* Колір фону без прозорості*/
  border-radius: 50%; /* Робить елемент круглим (еліпсом) */
  opacity: 1; /* Прозорість еліпса, 1 означає повну видимість */
}
.img__figma {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 268px;
  left: 975px;
}
.img__ps {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 268px;
  left: 1638px;
}
.img__sketch {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 653px;
  left: 1638px;
}
.img__xd {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 653px;
  left: 935px;
}