html {
  scroll-behavior: smooth;
}
/* Загальні стилі для сторінки */
body {
  font-family: 'Outfit', sans-serif; /* Встановлює шрифт для всієї сторінки */
  margin: 0; /* Видаляє відступи по краях сторінки */
  padding: 0; /* Видаляє відступи всередині сторінки */
}

a {
  text-decoration: none;
  color: white;
}
.header {
  background-color: #1f2235;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.navigation {
  display: flex;
}
.title-highlight {
  color: #fe461c;
}
.navbar {
  margin-left: 400px;
}
/* Стилі для списку навігаційних посилань */
.nav__links {
  display: flex; /* Встановлює флекс-контейнер для горизонтального вирівнювання посилань */
  list-style: none; /* Видаляє маркери списку */
  padding: 0; /* Видаляє внутрішні відступи у списку */
  margin: 0; /* Видаляє зовнішні відступи у списку */
  top: 42px; /* Відступ зверху, позиціонує блок на 42 пікселя нижче від початкової точки */
  left: 816px; /* Відступ зліва, позиціонує блок на 816 пікселів праворуч від початкової точки */
}
.banner-section {
  padding: 50px 0px ;
  display:flex;
  background-color: #1f2235;
  justify-content: center;
  align-items: center;
}
.banner__content {
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  width: 630px;
}
.banner-logo {
  width: 600px
}

.banner-content__text {
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
}

.banner-content-text-title {
  font-size: 59px;
  font-weight: 600;
  line-height: 72px;
}

.prof {
  color: red;
}

.banner-content-text-parag {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

}

.banner-two-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 36px;
  gap: 23px;
}

.download-link-hire-me {
  background-color: #FE461C;
}

.download-link-hire-me,
.download-link-black {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
  width: 160px;
  height: 50px;
  white-space: nowrap;
  border-radius: 4px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 152px;

}

.download-link-black {
  border: 3px solid #FFFFFF;
}
/* Стилі для кожного елемента списку в навігаційному меню */
.nav__links li {
  margin-right: 20px; /* Додає відступ праворуч для кожного елемента, щоб створити простір між посиланнями */
}

/* Стилі для посилань у навігаційному меню */
.nav__links a {
  text-decoration: none; /* Видаляє підкреслення у посилань */
  color: #ffffff; /* Встановлює чорний колір тексту посилань за замовчуванням */
  font-weight: 700; /* Встановлює жирний шрифт */
  font-size: 16px; /* Встановлює розмір шрифту 16 пікселів */
  line-height: 15px; /* Встановлює міжрядковий інтервал 15 пікселів */
  transition: color 0.3s; /* Додає анімацію зміни кольору протягом 0.3 секунд */
}

/* Стилі для посилань при наведенні курсору */
.nav__links a:hover {
  color: #e8401a; /* Змінює колір тексту на #e8401a при наведенні курсору */
}

/* Стилі для кнопки "Download CV" */
.download__cv {
  display: inline-block; /* Встановлює кнопці блочний елемент з інлайн-властивостями */
  width: 152px; /* Встановлює ширину кнопки 152 пікселя */
  height: 50px; /* Встановлює висоту кнопки 50 пікселів */
  background-color: #e8401a; /* Встановлює червоний колір фону кнопки */
  color: white; /* Встановлює білий колір тексту кнопки */
  text-align: center; /* Вирівнює текст по центру кнопки */
  line-height: 50px; /* Встановлює міжрядковий інтервал, щоб текст був по центру вертикально */
  border-radius: 4px 4px 4px 4px; /* Заокруглює кути кнопки */
  top: 22px; /* Відступ зверху, позиціонує кнопку на 22 пікселя нижче від початкової точки */
  left: 1468px; /* Відступ зліва, позиціонує кнопку на 1468 пікселів праворуч від початкової точки */
  text-decoration: none; /* Видаляє підкреслення тексту */
  font-weight: 700; /* Встановлює жирний шрифт */
  transition: opacity 0.3s; /* Додає анімацію зміни прозорості протягом 0.3 секунд */
}

/* Стилі для кнопки при наведенні курсору */
.download__cv:hover {
  opacity: 1; /* Робить кнопку видимою при наведенні курсору */
}
.info-block {
  margin: 0 auto;
}
.social__links {
  position: absolute; /* Дозволяє елементу бути розміщеним відносно найближчого батьківського елемента з відносним позиціонуванням (в даному випадку header) */
  top: 410px; /* Відступ 410px від верхньої частини шапки */
  left: 47px; /* Відступ 47px від лівого краю шапки */
  display: flex; /* Використовується для розташування дочірніх елементів у вигляді гнучкого контейнера (flexbox) */
  flex-direction: column; /* Встановлює вертикальне (колонне) розташування дочірніх елементів (іконок соціальних мереж) */
  gap: 0px; /* Відсутність відстані між дочірніми елементами (іконками) */
  opacity: 1; /* Задає повну видимість блоку соціальних мереж (прозорість 0 означає невидимість) */
}

/* Стилі для зображень соціальних мереж */
.social__links img {
  width: 50px; /* Ширина кожного зображення (іконки) встановлена на 50px */
  height: 50px; /* Висота кожного зображення (іконки) встановлена на 50px */
  border-radius: 4px 0px 0px 0px; /* Скруглює верхній лівий кут зображення (4px) */
}
.container {
  display: flex; /* Використовує Flexbox для горизонтального вирівнювання лівого і правого блоків */
}

/* Лівий блок */
.left__div {
  position: relative; /* Відносне позиціонування для зручності розташування дочірніх елементів */
}

/* Еліпс */
.ellipse__left {
  width: 204px; /* Ширина еліпса */
  height: 204px; /* Висота еліпса */
  top: 240px; /* Відступ зверху від батьківського елемента */
  left: 198px; /* Відступ зліва від батьківського елемента */
  background: rgba(187, 197, 211, 0.08); /* Колір фону з 8% прозорістю */
  border-radius: 50%; /* Робить елемент круглим (еліпсом) */
  opacity: 1; /* Прозорість еліпса, 1 означає повну видимість */
}
.welcome__text {
  width: 218px; /* Ширина блоку з текстом */
  height: 16px; /* Висота блоку з текстом */
  top: 335px; /* Відступ зверху */
  left: 300px; /* Відступ зліва */
  font-family: 'Public Sans', sans-serif; /* Шрифт тексту */
  font-size: 16px; /* Розмір шрифту */
  font-weight: 900; /* Товщина шрифту (жирний) */
  line-height: 20px; /* Висота рядка */
  letter-spacing: 0.15em; /* Міжлітерний інтервал */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  color: #ffffff;
}
.intro__text {
  width: 654px; /* Ширина блоку з текстом */
  height: 131px; /* Висота блоку з текстом */
  top: 367px; /* Відступ зверху */
  left: 300px; /* Відступ зліва */
  font-family: 'Outfit', sans-serif; /* Шрифт тексту */
  font-size: 64px; /* Розмір шрифту */
  font-weight: 600; /* Товщина шрифту (напівжирний) */
  line-height: 72px; /* Висота рядка */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  color: #ffffff;
}

/* Описовий текст */
.description__text {
  width: 521px; /* Ширина блоку з текстом */
  height: 60px; /* Висота блоку з текстом */
  top: 529px; /* Відступ зверху */
  left: 300px; /* Відступ зліва */
  font-family: 'Public Sans', sans-serif; /* Шрифт тексту */
  font-size: 16px; /* Розмір шрифту */
  font-weight: 500; /* Товщина шрифту (звичайний) */
  line-height: 30px; /* Висота рядка */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  color: #ffffff;
}
.hire__me {
  display: inline-block; /* Встановлює кнопці блочний елемент з інлайн-властивостями */
  width: 152px; /* Встановлює ширину кнопки 152 пікселя */
  height: 50px; /* Встановлює висоту кнопки 50 пікселів */
  background-color: #e8401a; /* Встановлює червоний колір фону кнопки */
  color: white; /* Встановлює білий колір тексту кнопки */
  text-align: center; /* Вирівнює текст по центру кнопки */
  line-height: 50px; /* Встановлює міжрядковий інтервал, щоб текст був по центру вертикально */
  border-radius: 4px 4px 4px 4px; /* Заокруглює кути кнопки */
  top: 625px; /* Відступ зверху, позиціонує кнопку на 22 пікселя нижче від початкової точки */
  left: 300px; /* Відступ зліва, позиціонує кнопку на 1468 пікселів праворуч від початкової точки */
  text-decoration: none; /* Видаляє підкреслення тексту */
  font-weight: 700; /* Встановлює жирний шрифт */
  transition: opacity 0.3s; /* Додає анімацію зміни прозорості протягом 0.3 секунд */
}
.download__cv-bottom {
  display: inline-block; /* Встановлює кнопці блочний елемент з інлайн-властивостями */
  width: 152px; /* Встановлює ширину кнопки 152 пікселя */
  height: 50px; /* Встановлює висоту кнопки 50 пікселів */
  text-align: center; /* Вирівнює текст по центру кнопки */
  line-height: 50px; /* Встановлює міжрядковий інтервал, щоб текст був по центру вертикально */
  border-radius: 4px 4px 4px 4px; /* Заокруглює кути кнопки */
  top: 625px; /* Відступ зверху, позиціонує кнопку на 22 пікселя нижче від початкової точки */
  left: 483px; /* Відступ зліва, позиціонує кнопку на 1468 пікселів праворуч від початкової точки */
  text-decoration: none; /* Видаляє підкреслення тексту */
  font-weight: 700; /* Встановлює жирний шрифт */
  transition: opacity 0.3s; /* Додає анімацію зміни прозорості протягом 0.3 секунд */
  color: white; /* Встановлює білий колір тексту кнопки */
  border: 2px solid rgba(255, 255, 255, 1)
}
.ellipse__right {
  width: 634px; /* Ширина еліпса */
  height: 634px; /* Висота еліпса */
  top: 242px; /* Відступ зверху від батьківського елемента */
  left: 1009px; /* Відступ зліва від батьківського елемента */
  background: rgba(23, 25, 41, 1); /* Колір фону без прозорості*/
  border-radius: 50%; /* Робить елемент круглим (еліпсом) */
  opacity: 1; /* Прозорість еліпса, 1 означає повну видимість */
}
.img__figma {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 268px;
  left: 975px;
}
.img__ps {
  width: 80px;
  height: 80px;
  top: 268px;
  left: 1638px;
}
.img__sketch {
  width: 80px;
  height: 80px;
  top: 653px;
  left: 1638px;
}
.img__xd {
  width: 80px;
  height: 80px;
  top: 653px;
  left: 935px;
}

.section-container {
  background-color: #24273b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 620px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 36px;
  background-color: #24273b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s;
  letter-spacing: 2px;
}
.about-me:hover {
  background-color: #e8401a;
}
.content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.image-container {
  width: 600px;
  height: 528.84px;
  background-size: cover;
  background-position: center;
  top: 1170.96px;
  left: 303px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  top: 1118px;
  margin-top: 20px;
  color: #ffffff;
}

.text-container h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.text-container p {
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
  size: 16px;
}
.info__label {
  display: flex;
  justify-content: space-between;
}
.label {
  margin-right: 20px;
}
.info .label, .info .value {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.info .label {
  font-weight: 500;
}

.info .value {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

.button {
  width: 160px;
  height: 56px;
  margin-top: 20px;
  border-radius: 4px 4px 4px 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe461c;
  color: #fff;
  cursor: pointer;
}
.section-portfolio {
  display: flex;
  flex-direction: column;
  height: 1270px;
  background-color: #1f2235;
}
.section-portfolio__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}
.section-portfolio__cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-portfolio__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #24273b;
  text-decoration: none;
  border-radius: 4px;
  height: 36px;
  width: 115px;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.section-portfolio__title {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 1px;
}
.section-portfolio__tabs {
  display: flex;
  justify-content: space-between;
  width: 480px;
}
.section-portfolio__tab {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}
.section-portfolio__tab:hover {
  color: #e8401a;
}
.section-portfolio__bottom{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #d9d9d9;
  width: 420px;
  height: 540px;
  border-radius: 8px;
}
.section-portfolio__top{
  background-color: #d9d9d9;
  width: 420px;
  height: 260px;
  border-radius: 8px;
}
.section-portfolio__cards {
  justify-content: center;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 25px;
}
.section-portfolio__card {
  margin-right: 18px;
}
.section-portfolio__card:last-child {
  margin-right: 0;
}
.section-portfolio__top {
  margin-bottom: 18px;
}
.section-portfolio__top:nth-child(2) {
  margin-bottom: 0;
  margin-top: 18px;
}
.section-portfolio__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 24px;
  margin-left: 20px;
  letter-spacing: 1px;
}
.section-portfolio__element {
  font-size: 16px;
  margin-bottom: 18px;
}
.section-why-us {
  display: flex;
  flex-direction: column;
  height: 620px;
  background-color: #24273b;
}
.section-why-us__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
}
.section-why-us__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #24273b;
  text-decoration: none;
  border-radius: 4px;
  height: 36px;
  width: 172px;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.section-why-us__title {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 1px;
  margin-top: 15px;
}
.section-why-us__cards {
  display: flex;
  justify-content: center;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 25px;
}
.section-why-us__card {
  margin-right: 25px;
  width: 307px;
  height: 360px;
  background-color: #1f2235;
  border-radius: 8px;
}
.section-why-us__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 243px;
  height: 278px;
  margin: 30px;
}
.section-why-us__icon {
  height: 50px;
  width: 50px;
}
.section-why-us__text {
  color: #ffffff;
  font-size: 20px;
}
.section-why-us__element {
  font-size: 14px;
  letter-spacing: 1px;
}
.section-why-us__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #24273b;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  margin-top: 20px;
}
.section-why-us__button:hover {
  background-color: #e8401a;
}
.section-resume {
  height: 806px;
  background-color: #1f2235;
}
.section-resume__content {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  height: 550px;
  margin: 0 auto;
  padding-top: 90px;
}
.section-resume__left {
  display: flex;
  justify-content: space-between; 
  flex-direction: column;
}
.section-resume__header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 300px;
  height: 96px;
}
.section-resume__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  width: 97px;
  height: 36px;
  background-color: #24273b;
  border-radius: 4px;
  letter-spacing: 2px;
  transition: background-color 0.3s;
}
.section-resume__button:hover {
  background-color: #e8401a;
}
.section-resume__title {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 1px;
}
.section-resume__tabs {
  display: flex;
  justify-content: space-between;
  width: 364px;
  height: 36px;
}
.section-resume__tab {
  text-decoration: none;
  color: #ffffff;
  background-color: #24273b;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.section-resume__tab:hover {
  background-color: #e8401a;
}
.section-resume__tab__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 36px;

}
.section-resume__tab__center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 36px;
}
.section-resume__tab__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 36px;
}
.section-resume__skills {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 606px;
  height: 345px;
}
.section-resume__skill {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 54px;
}
.section-resume__skill__header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
}
.section-resume__progress {
  width: 100%;
  height: 20px;
  background-color: #ddd; 
  border-radius: 10px;
}

.section-resume__progress-bar {
  height: 100%;
  background-color: #e8401a; 
  border-radius: 10px; 
}

.section-resume__bar-90 {
  width: 90%; 
}
.section-resume__bar-80 {
  width: 80%; 
}
.section-resume__bar-70 {
  width: 70%; 
}
.section-resume__bar-60 {
  width: 60%; 
}
.section-resume__right {
  display: flex;
  align-items: end;
}
.section-resume__image {
  display: flex;
  width: 572.01px;
  height: 504.17px;
}
.section-testimonials {
  display: flex;
  flex-direction: column;
  height: 620px;
  background-color: rgb(36, 39, 59);
}
.section-testimonials__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1320px;
  margin: 0 auto;
  width: 503px;
  height: 105px;
  margin-top: 50px;
}
.section-testimonials__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 36px;
  background-color: #24273b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s;
  letter-spacing: 2px;
}
.section-testimonials__button:hover {
  background-color: #e8401a;
}
.section-testimonials__title {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.5px;
}
.section-testimonials__cards {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 50px;
}
.section-testimonials__card {
  display: flex;
  flex-direction: column;
  width: 424px;
  height: 241px;
  background-color: #1f2235;
  margin-right: 25px;
}
.section-testimonials__card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.section-testimonials__card-left {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.section-testimonials__card-initials {
  font-size: 24px;
}
.section-testimonials__card-position {
  font-size: 16px;
}
.section-testimonials__card-line {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 50px;
}
.section-testimonials__card-biography {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 337px;
  height: 150px;
  color: #ffffff;
  font-size: 16px;
  margin-left: 35px;
  margin-top: -10px;
}
.section-testimonials__icon {
  display: flex;
  justify-content: start;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #d9d9d9;
  border: #e8401a 3px solid;
}
.section-testimonials__icons {
  display: flex;
  max-width: 1320px;
  margin-top: 40px;
}
.section-blogpost {
  display: flex;
  flex-direction: column;
  height: 862px;
  background-color: #1f2235;
}
.section-blogpost__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  width: 280px;
  height: 93px;
}
.section-blogpost__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  width: 133px;
  height: 36px;
  background-color: #24273b;
  border-radius: 4px;
  letter-spacing: 2px;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.section-blogpost__tab:hover {
  background-color: #e8401a;
}
.section-blogpost__title {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 1px;
}
.section-blogpost__posts {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 70px;
}
.section-blogpost__post {
  display: flex;
  flex-direction: column;
  width: 424px;
  height: 468px;
}
.section-blogpost__image {
  display: flex;
  width: 400px;
  height: 315px;
  background-color: #d9d9d9;
  border-radius: 8px;
}
.section-blogpost__content {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 127px;
  color: #ffffff;
  margin-top: 10px;
}
.section-blogpost__active {
  display: flex;
  justify-content: space-between;
  width: 265px;
  height: 17px;
}
.section-blogpost__admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 77px;
  height: 17px;
  margin-right: 20px;
}
.section-blogpost__comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 46px;
  height: 16px;
  margin-right: 20px;
}
.section-blogpost__view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 106px;
  height: 15px;
}
.section-blogpost__article {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 360px;
  height: 127px;
  margin-top: 20px;
}
.section-blogpost__heading {
  font-size: 24px;
  letter-spacing: 1px;
}
.section-blogpost__text {
  font-size: 16px;
}
.section-subscribe {
  display: flex;
  height: 620px;
  background-color: #24273b;
}
.section-subscribe__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 1320px;
  background-color: #1f2235;
  height: 390px;
  border-radius: 4px;
  margin-top: 100px;
}
.section-subscribe__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 479px;
  height: 131px;
  color: #ffffff;
}
.section-subscribe__title {
  font-size: 24px;
}
.section-subscribe__subtitle {
  font-size: 55px;
}
.section-subscribe__description {
  font-size: 18px;
}
.section-subscribe__form {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px; 
  width: 550px; 
  height: 60px; 
}
.section-subscribe__input {
  border: none;
  padding: 0 20px;
  flex: 1; 
  height: 100%; 
  font-size: 16px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.section-subscribe__button {
  border: none;
  padding: 0 30px;
  height: 100%;
  width: 190px;
  background-color: #e8401a; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease; 
}
.section-subscribe__button:hover {
  background-color: #963b27; 
}
.section-contact {
  display: flex;
  flex-direction: column;
  height: 1448px;
  background-color: #1f2235;
}
.section-contact__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 274px;
  height: 98px;
  color: #ffffff;
  margin-top: 100px;
}
.section-contact__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #24273b;
  border-radius: 4px;
  transition: background-color 0.3s;
  letter-spacing: 1px;
}
.section-contact__tab:hover {
  background-color: #e8401a;
}
.section-contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 43px;
  font-size: 36px;
}
.section-contact__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1169px;
  height: 434px;
  margin-top: 70px;
}
.section-contact__data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 369px;
  height: 391px;

}
.section-contact__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 368px;
  height: 117px;
  background-color: #24273b;
  border: 1px gray solid;
  border-radius: 4px;
}
.section-contact__icon {
  
}
.section-contact__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 224px;
  height: 82px;
  color: #ffffff;

}
.section-contact__text-title {
  font-size: 24px;
}
.section-contact__text-subtitle {
  font-size: 16px;
}
.section-contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 434px;
}
.section-contact__form-header {
  font-size: 24px;
  color: #ffffff;
}
.section-contact__form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 284px;
}
.section-contact__form-info {
  display: flex;
  justify-content: space-between;
}
.section-contact__form-name {
  width: 300px;
  height: 56px;
  background-color: #24273b;
  border: 1px gray solid;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 20px;
  color: #ffffff;
}
.section-contact__form-email {
  width: 335px;
  height: 56px;
  background-color: #24273b;
  border: 1px gray solid;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 20px;
  color: #ffffff;
}
.section-contact__form-message {
  width: 680px;
  height: 40px;
  background-color: #24273b;
  border: 1px gray solid;
  border-radius: 4px;
  font-size: 16px;
  padding-bottom: 160px;
  padding-left: 20px;
  color: #ffffff;
}
.section-contact__form-button {
  width: 220px;
  height: 56px;  
}
.section-contact__form-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e8401a; 
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.section-contact__maps {
  display: flex;
  width: 1169px;
  height: 550px;
  margin: 0 auto;
  margin-top: 100px;
}
.section-contact__map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.footer {
  display: flex;
  height: 90px;
  background-color: #24273b;
}
.footer-content {
  display: flex;
  color: #ffffff;
  width: 517px;
  height: 20px;
  margin: 0 auto;
  margin-top: 35px;
}
.footer-content__text {
  font-size: 16px;
  letter-spacing: 1px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
body {
  background: red;
}
.header {
  align-items: end;
  flex-direction: column;
  padding: 20px;
}
.navbar {
  margin-left: 10px;
}
.nav__links a {
  font-size: 10px;
}
.nav__links li {
  margin-right: 8px;
}
.download__cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  font-size: 10px;
  margin-top: 10px;
}
.image__container {
  width: 320px;
}
.banner__content {
  width: 320px;
}
.banner-section {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  background-color: #1f2235;
  justify-content: center;
  align-items: center;
}
.banner-logo {
  margin-top: 40px;
  width: 320px;
}
.section-container {
  flex-direction: column;
  height: 1100px;
}
.content {
  flex-direction: column-reverse;
}
.text-container {
  flex-direction: column;
  max-width: 320px;
  gap: 0;
}
.image-container {
  width: 320px;
  height: 300px;
}
.info {
  flex-direction: column;
}
.section-portfolio__top {
  display: none;
}
.section-portfolio__bottom {
  width: 320px;
  height: 200px;
}
.section-portfolio {
  height: 970px;
}
.section-portfolio__header {
  margin-top: 50px;
}
.section-portfolio__tabs {
  width: 320px;
}
.section-portfolio__cards {
  margin-top: 70px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: self-start;
}
.section-why-us__card:last-child {
  display: none;
}
.section-why-us {
  height: 1400px;
}
.section-why-us__cards {
  flex-direction: column;
}
.section-why-us__card {
  margin-top: 20px;
}
.section-resume__image {
  display: none;
}
.section-resume__content {
  justify-content: center;
}
.section-resume__left {
  align-items: center;
}
.section-resume__tabs, .section-resume__skills, .section-resume__progress, .section-resume__skill__header {
  width: 320px;
}
.section-resume__skills {
  align-items: center;
}
.section-resume__tab__left {
  width: 70px;
}
.section-resume__tab__center {
  width: 101px;
}
.section-resume__tab__right {
  width: 93px;
}
.section-testimonials {
  height: 1350px;
}
.section-testimonials__header {
  width: 320px;
}
.section-testimonials__title {
  font-size: 22px;
}
.section-testimonials__card {
  width: 320px;
}
.section-testimonials__card-biography {
  width: 300px;
  font-size: 12px;
  margin-left: 35px;
}
.section-testimonials__card-line {
  width: 250px;
  height: 1px;
  margin-left: 33px;
}
.section-testimonials__cards {
  flex-direction: column;
}
.section-testimonials__card {
  margin-bottom: 150px;
}
.section-blogpost__header  {
  margin-top: 50px;
}
.section-blogpost__posts {
  flex-direction: column;
}
.section-blogpost {
  height: 1700px;
}
.section-blogpost__image {
  width: 320px;
  height: 280px;
}
.section-blogpost__post {
  margin-bottom: 30px;
  width: 320px;
}
.section-blogpost__article {
  width: 320px;
}
.section-subscribe__form {
  width: 300px;
  height: 40px;
}
.section-subscribe__button {
  padding: 0;
}
.section-subscribe__container {
  flex-direction: column;
  margin-top: 0;
  width: 320px;
}
.section-subscribe {
  height: 520px;
  justify-content: center;
  align-items: center;
}
.section-subscribe__subtitle {
  font-size: 35px;
}
.section-subscribe__content {
  width: 280px;
  height: 200px;
}
.section-contact {
  height: 1400px;
}
.section-contact__container {
  align-items: center;
  width: 0;
  flex-direction: column;
  height: 825px;
}
.section-contact__card {
  max-width: 300px;
}
.section-contact__text-subtitle {
  font-size: 14px;
}
.section-contact__data {
  width: 320px;
}
.section-contact__form {
  margin-top: 20px;
}
.section-contact__form-input, .section-contact__form  {
  width: 320px;
}
.section-contact__form-info {
  width: 320px;
}
.section-contact__form-email, .section-contact__form-name {
  width: 130px;
}
.section-contact__form-message {
  width: 296px;
}
.section-contact__form-tab {
  width: 320px;
}
.section-contact__maps {
  width: 320px;
  height: 200px;
  margin-top: 70px;
}
.section-contact__header {
  margin-top: 30px;
}
.footer {
height: 40px;
}
.footer-content {
  margin-top: 10px;
}
.footer-content__text {
  width: 320px;
  font-size: 10px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background: yellow;
  }
  .navbar {
    margin-left: 0px; 
  }
  .banner-logo {
    margin-top: 100px;
  }
  .banner-section {
    flex-direction: column;
  }
  .content {
    flex-direction: column-reverse;
  }
  .section-container {
    height: 1200px;
  }
  .section-portfolio__bottom, .section-portfolio__top {
    width: 230px;
  }
  .section-portfolio__bottom {
    height: 340px;
  }
  .section-portfolio__header {
    margin-top: 100px;
  }
  .section-portfolio {
    height: 970px;
  }
  .section-why-us__card:last-child {
    display: none;
  }
  .section-why-us__cards {
    flex-direction: column;
  }
  .section-why-us__card {
    margin-bottom: 20px;
  }
  .section-why-us {
    height: 1400px;
  }
  .section-resume__left {
    margin: 0 auto;
  }
  .section-resume__image {
    display: none;
  }
  .section-testimonials {
    height: 1350px;
  }
  .section-testimonials__cards {
    flex-direction: column;
  }
  .section-testimonials__card {
    margin-bottom: 130px;
  }
  .section-blogpost__header {
    margin-top: 50px;
  }
  .section-blogpost__posts {
    flex-direction: column;
  }
  .section-blogpost {
    height: 1750px;
  }
  .section-blogpost__post {
    margin-bottom: 50px;
  }
  .section-subscribe__container {
    width: 700px;
    flex-direction: column;
  }
  .section-contact__container {
    align-items: center;
    width: 0;
    flex-direction: column;
    height: 875px;
  }
  .section-contact__maps {
    width: 750px;
  }
  .section-contact {
    height: 1900px;
  }
  .section-contact__data {
    margin-bottom: 50px;
  }
  .footer {
    height: 40px;
  }
  .footer-content {
    margin-top: 10px;
    justify-content: center;
  }
  .footer-content__text {
    width: 320px;
    font-size: 10px;
  }
  }

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    body {
      background: white;
    }
    .navbar {
      margin-left: 250px;
    }
    .banner__content {
      width: 430px;
    }
    .banner-logo {
      width: 400px;
    }
    .image__container, .image-container {
      width: 400px;
      height: 400px;
    }
    .text-container {
      max-width: 550px;
    }
    .section-portfolio__top, .section-portfolio__bottom {
      width: 320px;
    }
    .section-portfolio__bottom {
      height: 440px;
    }
    .section-why-us__card:last-child {
      display: none;
    }
    .section-resume__content {
      justify-content: space-around;
    }
    .section-resume__image {
      width: 370px;
      height: 300px;
    }
    .section-resume__skills {
      width: 506px;
    }
    .section-testimonials__card:last-child {
      display: none;
    }
    .section-blogpost__post:last-child {
      display: none;
    }
    .section-subscribe__container {
      flex-direction: column;
    }
    .section-subscribe__container {
      width: 900px;
    }
    .section-contact__container {
      align-items: center;
      width: 0;
      flex-direction: column;
      height: 875px;
    }
    .section-contact__maps {
      width: 900px;
    }
    .section-contact {
      height: 1900px;
    }
    .section-contact__data {
      margin-bottom: 50px;
    }
    }



















    @media screen and (min-width: 1441px) and (max-width: 1960px) {
      body {
        background: dark;
      }
      }

